<div class="productsCardsContainer">
{{#each products}}
        <div id="productCard">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.thumbnail}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}} </p>
                <p class="card-text">Precio: {{this.price}} </p>       
                <p class="card-text">Stock: {{this.stock}} </p>   
                <p class="card-text">Code: {{this.code}} </p>                      
            </div>
        </div>
{{/each}}
</div>